*.cache
*.tmTheme
oscrypto-ca-bundle.crt

builds/


Package Control.*ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run

SideBarEnhancements/
SublimeLinter/

SVN*

WakaTime.sublime-settings
Zeal.sublime-settings